@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat&family=Poppins&display=swap');

body{
    font-family: "Montserrat";
    background-color:  #335C67;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
    text-align: center;
    color: #E09F3E;
    font-family: "Jersey 10";
    text-align: center;
    font-size: 48px; 
    border: 2px solid #E09F3E;
    border-radius: 25px;
    padding: 0.5em; 
}

#pokedex{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    border-radius: 25px;
    border: 2px solid rgb(122, 151, 204);
    background-color: #faf5d6;
}

#selectPokes{
    display: flex;
    flex-direction: column;
}

label{
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
}

select, 
button{
    margin: 0.5rem 0;
    padding: 0.5em 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #f4f3eb;
    color: #9E2A2B;
    transition: background-color 0.3s ease;
}

#pokeInfo{
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin: 2rem;
    }

button{
    background-color: #007bff;
    color: #fff;
    font-family: "Montserrat";
    padding: 0.5em;
    border: 2px solid rgb(142, 175, 236);
    border-radius: 10px;
    background-color: rgb(192, 43, 43);
}

button:hover{
    background-color:  rgb(122, 151, 204);
    color: white; 
}

ul{
    display: flex;
    flex-direction: column;
    padding: 0;
}

li{ 
    list-style: none;
    margin: 0;
    
}

.winner{
    color: #4f3919;
    border: 2px solid #4f3919;
    background-color: #e6d991;
}

#pokeInfo1,
#pokeInfo2,
#displayWinner{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
    margin: 2rem;
    padding: 1rem;
}

#displayWinner{
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 500;
    margin: 0.8em;
    background-color: #dbd093;
}

#pokeInfo1 img, 
#pokeInfo2 img {
    max-width: 100px;
    height: auto;
    margin-bottom: 0.5rem;
}

#battleSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#battleScoreInfo{
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1.5rem;
    line-height: 1.5em;
    background-color: #dbd093;
    opacity: 90%;
}

