@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat&family=Poppins&display=swap');

body{
    font-family: "Montserrat";
    background-color:  rgb(209, 218, 235);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1{
    text-align: center;
    color: #ff3366;
    color: rgb(142, 175, 236);
    font-family: "Jersey 10";
    text-align: center;
    font-size: 48px; 
    border: 2px solid rgb(142, 175, 236);
    border-radius: 25px;
    padding: 10px; 
}

#pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px; 
    background-color: #efe7dd;
    padding: 2em;
    border-radius: 25px;
    border: 2px solid rgb(122, 151, 204);;
}

label {
    margin-bottom: 0.5rem;
    color: #333333;
}

select, 
button{
    background-color: #f9f9f9;
    margin: 0.5rem 0;
    padding: 0.5em 1rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffcc00;
    color: #333333;
    transition: background-color 0.3s ease;
    border: none;

}

button{
    background-color: #007bff;
    color: #fff;
    font-family: "Montserrat";
    padding: 15px;
    border: 2px solid rgb(142, 175, 236);
    border-radius: 10px;
    background-color: white;
}

button:hover {
    background-color:  rgb(122, 151, 204);
    color: white; 
}


ul{
    display: flex;
    flex-direction: column;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    
}

.winner {
    color: #007bff;
}

#pokeInfo1,
#pokeInfo2,
#displayWinner{
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    padding: 1rem;
}

#pokeInfo1 img, 
#pokeInfo2 img {
    max-width: 100px;
    height: auto;
    margin-bottom: 0.5rem;
}

